version: 2.1

orbs:
  heroku: circleci/heroku@1.2.2 # Use the Heroku orb in your config

jobs:
  build:
      docker:
        - image: cimg/ruby:2.7.1-node
      steps:
        - checkout
        - run: npm install

workflows:
  heroku_deploy:
    jobs:
      - build
      - heroku/deploy-via-git:
          context: heroku
          requires:
            - build
